<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>node2-slave2</name>
  <description>if node1 is offline then build will use this server to buld</description>
  <remoteFS>/home/ec2-user/jenkins</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@3.1031.v72c6b_883b_869">
    <host>172.31.35.62</host>
    <port>22</port>
    <credentialsId>testing</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>label1</label>
  <nodeProperties/>
</slave>